.s-pagination {
  display: flex;
  /* your component style */
  .s-pager {
    list-style: none;
    display: flex;
    padding-left: 0;
    li {
      margin-top: 0;
      padding: 0 4px;
    }
    li.current {
      color: rgb(96, 96, 255);
    }
  }
}
