.s-modal {
  &__container {
    position: relative;
    margin: 15vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    width: 30%;
  }

  &__header {
    color: #606266;
    padding: 20px;
    padding-bottom: 10px;
    margin-right: 16px;
    word-break: break-all;
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 12px;

    &:hover {
      cursor: pointer;

      path {
        fill: #409eff;
      }
    }
  }

  &__body {
    padding: 30px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
  }

  &__footer {
    padding: 20px;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }
}
