$dividing-line: #dfe1e6;
$base-bg: #ffffff;
$brand: #5e7ce0;
$area: #f8f8f8;
$text:#252b3a;
$font-size: 12px;
$disabled-line: #dfe1e6;
$border-radius: 2px;
$disabled-bg:#f5f5f6;
$disabled-text:#adb0b8;