@import './variable.scss';

.#{$prefix}-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  font-style: normal;
  vertical-align: -2px;
  outline: none;
  stroke: currentColor;
}

.#{$prefix}-hover-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 12px;
}