// 变量
$prefix: 's';
// 定义主题变量
$s-border-radius: var(--s-border-radius, 2px); //一般圆角
$s-font-size-sm: var(--s-font-size-md, 10px); //当组件size为''时使用此字号大小
$s-font-size-md: var(--s-font-size-md, 12px); //当组件size为''时使用此字号大小
$s-font-size-lg: var(--s-font-size-md, 14px); //当组件size为''时使用此字号大小
$s-animation-duration-slow: var(--s-animation-duration-slow, 300ms);
$s-animation-ease-in-out-smooth: var(
  --s-animation-ease-in-out-smooth,
  cubic-bezier(0.645, 0.045, 0.355, 1)
);
$s-light-text: var(--s-light-text, #ffffff); // 有色深色背景下字体颜色（固定）
$s-primary: var(--s-primary, #5e7ce0); // 主要按钮，同品牌色
$s-primary-disabled: var(--s-primary-disabled, #879ada); // 主要按钮，同品牌色
$s-primary-hover: var(--s-primary-hover, #7693f5); // 主要按钮悬停
$s-primary-active: var(--s-primary-active, #344899); // 主要按钮激活
$s-text: var(--s-text, #252b3a); // 正文文本
$s-disabled-text: var(--s-disabled-text, #8891a7); // 正文文本
$s-disabled-bg: var(--s-disabled-bg, #c2cce5); // 正文文本
$s-disabled-line: var(--s-disabled-line, #a9b0c0); // 正文文本
$s-block: var(
  --s-block,
  #ffffff
); // 大面积的不可折叠区块的背景色（例如顶部导航背景色）
$s-line: var(--s-line, #adb0b8); // 边框分割线，仅用于边框
$s-form-control-line-active: var(
  --s-form-control-line-active,
  #5e7ce0
); // 表单控件边框激活色，用于获得焦点
$s-brand-active: var(--s-brand-active, #526ecc); // 品牌色激活色（加深）
$s-brand-active-focus: var(
  --s-brand-active-focus,
  #344899
); // 品牌色焦点色（重度加深）

$line-height-base: 1.5715;
/******** spacing *******/

$spacing-none: 0;
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 6px;
$spacing-4: 8px;
$spacing-5: 10px;
$spacing-6: 12px;
$spacing-7: 16px;
$spacing-8: 20px;
$spacing-9: 24px;
$spacing-10: 32px;
$spacing-11: 36px;
$spacing-12: 40px;
$spacing-13: 48px;
$spacing-14: 56px;
$spacing-15: 60px;
$spacing-16: 64px;
$spacing-17: 72px;
$spacing-18: 80px;
$spacing-19: 84px;
$spacing-20: 96px;
$spacing-21: 100px;
$spacing-22: 120px;

/******** radius *******/

$radius-none: 0px;
$radius-small: 2px;
$radius-medium: 4px;
$radius-large: 8px;
$radius-circle: 50%;

/******** size *******/

$size-none: 0;
$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 32px;
$size-9: 36px;
$size-10: 40px;
$size-11: 44px;
$size-12: 48px;
$size-13: 52px;
$size-14: 56px;
$size-15: 60px;
$size-16: 64px;
$size-17: 68px;
$size-18: 72px;
$size-19: 76px;
$size-20: 80px;
$size-21: 84px;
$size-22: 88px;
$size-23: 92px;
$size-24: 96px;
$size-25: 100px;
$size-26: 104px;
$size-27: 108px;
$size-28: 112px;
$size-29: 116px;
$size-30: 120px;
$size-31: 124px;
$size-32: 128px;
$size-33: 132px;
$size-34: 136px;
$size-35: 140px;
$size-36: 144px;
$size-37: 148px;
$size-38: 152px;
$size-39: 156px;
$size-40: 160px;
$size-41: 164px;
$size-42: 168px;
$size-43: 172px;
$size-44: 176px;
$size-45: 180px;
$size-46: 184px;
$size-47: 188px;
$size-48: 192px;
$size-49: 196px;
$size-50: 200px;

$size-mini: $size-6;
$size-small: $size-7;
$size-default: $size-8;
$size-large: $size-9;


// 线性
$transition-timing-function-linear: cubic-bezier(0, 0, 1, 1);
// 标准
$transition-timing-function-standard: cubic-bezier(0.34, 0.69, 0.1, 1);
// 过冲
$transition-timing-function-overshoot: cubic-bezier(0.3, 1.3, 0.3, 1);
// 减速
$transition-timing-function-decelerate: cubic-bezier(0.4, 0.8, 0.74, 1);
// 加速
$transition-timing-function-accelerate: cubic-bezier(0.26, 0, 0.6, 0.2);