.s-tree {
  .s-tree__node {
    &--content {
      border: 1px solid transparent
    }
    &--drop-inner {
      border: 1px solid silver
    }
    &--drop-next {
      border-bottom: 1px solid silver
    }
    &--drop-prev {
      border-top: 1px solid silver
    }
  }
}
