.s-tabs {
  display: flex;
  flex-direction: column;

  ul.s-tabs__nav {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #e4e7ed;
    cursor: pointer;

    li {
      margin-left: 32px;
      margin-bottom: -2px;
      color: #303133;
      padding-bottom: 4px;

      svg {
        display: inline-block;
      }

      &:first-child {
        margin-left: 0;
      }

      &.active {
        font-weight: 700;
        border-bottom: 2px solid #409eff;
        color: #409eff;

        svg {
          fill: #409eff;
        }
      }

      &:hover {
        color: #409eff;

        svg {
          fill: #409eff;
        }
      }
    }
  }
}
