@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./style/icon.scss";

@import "button/style/button.scss";
@import "space/style/index.scss";
@import "input/style/index.scss";