// button/src/button.scss
@use './button-config';
@import './button-base';

.s-btn {
  // 导入button基础样式
  @include button-base;

  // 导入type相关的样式
  @include button-variant(button-config.$type);
  
  // 导入hover等伪类样式
  @include button-variant(button-config.$pseudo, true);

  // 导入size相关样式
  @include button-variant(button-config.$size);
}
