@import '../../style/variable.scss';
@import './input.scss';
@import './size.scss';

$input-prefix-cls: #{$prefix}-input;

.#{$input-prefix-cls}-wrapper {
  @include input-wrapper-style($input-prefix-cls);

  .#{$input-prefix-cls} {
    @include input-style;

    &.#{$input-prefix-cls}-size-mini {
      @include input-size(mini)
    }

    &.#{$input-prefix-cls}-size-small {
      @include input-size(small)
    }

    &.#{$input-prefix-cls}-size-medium {
      @include input-size(medium)
    }

    &.#{$input-prefix-cls}-size-large {
      @include input-size(medium)
    }
  }
}