// @use "sass:map";
@import '../../style/variable.scss';
@import './token.scss';


@mixin input-wrapper-style($cls) {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-right: $input-padding-horizontal;
  padding-left: $input-padding-horizontal;
  color: rgb(29,33,41);
  font-size: 14px;
  background-color: rgb(242,243,245);
  border: $input-border-width solid $input-color-border;
  border-radius: $input-border-radius;
  cursor: text;
  transition: color 0.1s $transition-timing-function-linear,
    border-color 0.1s  $transition-timing-function-linear,
    background-color 0.1s  $transition-timing-function-linear;

  &:focus-within,
  &.#{$cls}-wrapper--focus {
    background-color: $input-color-bg_focus;
    border-color: $input-color-border_focus;
    box-shadow: 0 0 0 $input-size-shadow_focus $input-color-shadow_focus;
  }

  // prefix suffix icon
  .#{$cls}-prefix,
  .#{$cls}-suffix {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    > svg {
      font-size: 14px;
    }
  }

  .#{$cls}-prefix {
    padding-right: 12px;
    color: rgb(78,89,105);
  }
  .#{$cls}-suffix {
    padding-left: 12px;
    color: rgb(78,89,105);
  }


  .#{$cls}-clear-btn {
    visibility: hidden;
    cursor: pointer;
    font-size: 12px;
    align-self: center;
    color: rgb(78,89,105);
  }
  &:hover .#{$cls}-clear-btn{
    visibility: visible;
  }

}

@mixin input-style {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  line-height: $line-height-base;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: inherit;
  -webkit-appearance: none;
  /* Prevent any object from being highlighted upon touch event*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::placeholder {
    color: rgb(134,144,156);
  }
}






// @mixin input-size($size) {
//   padding-top: (round(map.get($height-map, $size) - $input-border-width * 2 - $line-height-base * 14) / 2);

//   /* prettier-ignore */
//   padding-bottom: (round(map.get($height-map, $size) - $input-border-width * 2 - $line-height-base * 14) / 2);
// }