
@import '../../style/variable.scss';

// 布局
$input-padding-horizontal: $spacing-6;
$input-margin-left-clear-btn: $spacing-6;
$input-spacing-clear-icon-right: $spacing-4;
$input-padding-word-limit-left: $spacing-4;

$input-border-width: 1px;
$input-color-border: transparent;
$input-border-radius: $radius-small;

// 不同尺寸
// $input-size-medium-height: $size-default;
// $input-size-mini-height: $size-mini;
// $input-size-small-height: $size-small;
// $input-size-large-height: $size-large;


$input-color-bg_focus: #fff;
$input-color-border_focus: rgb(22, 93, 255);
$input-size-shadow_focus: 0;
$input-color-shadow_focus: rgb(190, 218, 255);